# Task2:

## 2.1 MySQL基础（二）-表的操作

### 1、MySQL表数据类型
    数值、日期、时间和字符串(字符)类型
### 2、 用SQL创建表
    CREATE TABLE table_name (column_name column_type);

### 3、SQL向表中添加数据
    添加方式：指定列名，不指定列名
    INSERT INTO table_name ( field1, field2,...fieldN )
                       VALUES
                       ( value1, value2,...valueN );

### 4、SQL语句删除表
    语句：DROP TABLE table_name ;
    DELETE
    DROP
    TRIMCATE

### 5、SQL语句修改表
    修改列名、表中数据
    删除行、列
    新建行、列

# 作业
## 项目三：编写一个 SQL 查询，列出所有超过或等于5名学生的课
    +---------+------------+

    | student | class      |

    +---------+------------+
    
    | A       | Math       |

    | B       | English    |

    | C       | Math       |

    | D       | Biology    |

    | E       | Math       |

    | F       | Computer   |

    | G       | Math       |

    | H       | Math       |

    | I       | Math       |

    | A      | Math       |

    +---------+------------+
    编写一个 SQL 查询，列出所有超过或等于5名学生的课。

    应该输出:

    +---------+

    | class   |

    +---------+

    | Math    |

    +---------+

    Note:

    学生在每个课中不应被重复计算。

In [ ]:
#创建表：
CREATE TABLE courses(
student VARCHAR(50),
class VARCHAR(50)
);

#插入数据：
INSERT INTO courses VALUES('A','Math');
INSERT INTO courses VALUES('B','English');
INSERT INTO courses VALUES('C','Math');
INSERT INTO courses VALUES('D','Biology');
INSERT INTO courses VALUES('E','Math');
INSERT INTO courses VALUES('F','Computer');
INSERT INTO courses VALUES('G','Math');
INSERT INTO courses VALUES('H','Math');
INSERT INTO courses VALUES('I','Math');
INSERT INTO courses VALUES('A','Math');

## 2.2 MySQL 基础 （三）- 表联结
    MySQL别名
    INNER JOIN
    LEFT JOIN
    CROSS JOIN
    自连接
    UNION
    以上几种方式的区别和联系

# 作业